
<div class="container mt-4">
    <button class="btn btn-outline-primary me-3" (click)="get404()"> Get 404 </button>
    <button class="btn btn-outline-primary me-3" (click)="get500()"> Get 500 </button>
    <button class="btn btn-outline-primary me-3" (click)="get400()"> Get 400 </button>
    <button class="btn btn-outline-primary me-3" (click)="get400Validation()"> Get 400 Validation </button>

    <div class="row mt-4" *ngIf="validationErrors.length > 0 ">
        <ul class="text-danger">
            <li *ngFor="let error of validationErrors">{{error}}</li>
        </ul>
    </div>
</div>
